doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="theme-color" content="#111111")
		link(rel="icon" type="image/png" sizes="64x64" href="img/icon.png")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/main.css")
		title Simon
	body
		a.home(href="/") На главную

		.game
			a.button.red
			a.button.green
			a.button.blue
			a.button.yellow

		.back.hid.vis
		.blur.hid.vis
		.start.hid.vis Начать

		.score Ваш счет:

		script(src="js/libs.min.js")
		script(src="js/common.js")
